<div>
  <form class="form-horizontal" [formGroup]="employeeFormGroup" novalidate
        (ngSubmit)="formSubmit()">
    <div>
      <mat-form-field>
        <input type="number" [formControl]="employeeAmountControl" placeholder="Enter Amount" required i18n-placeholder
               matInput/>
        <mat-hint *ngIf="employeeAmountControl.dirty && employeeAmountControl.invalid" class="text-danger" i18n>
          Amount value must be greater than 0
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i> <span i18n>Cancel</span>
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || employeeFormGroup.invalid">
            <i *ngIf="!isSaving" class='fa fa-send'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            {{isSaving ? 'Sending' : 'Send'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
