<div class="container">
  <header class="pageHeader">
    <h3><i class="fa  fa-lg page-caption fa-key" aria-hidden="true"></i>&nbsp; Change Password</h3>
  </header>
  <div class="row">
    <div class="col-sm-12 col-md-12 ">
      <form class="form-horizontal" [formGroup]="passwordFormGroup" novalidate
            (ngSubmit)="save()">
        <div style="max-height: 500px;overflow-y: auto">
          <mat-form-field>
            <input type="password"
                   pattern="[0-9]*"
                   inputmode="numeric"
                   required
                   maxlength="4"
                   minlength="4"
                   [formControl]="currentPasswordControl"
                   i18n-placeholder
                   placeholder="Enter Current Pin"
                   matInput/>
            <mat-hint *ngIf="currentPasswordControl.dirty && currentPasswordControl.invalid" class="text-danger" i18n>
             Current Pin is Required and must 4 digits
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input type="password" pattern="[0-9]*" inputmode="numeric" [formControl]="newPasswordControl"
                   i18n-placeholder
                   placeholder="Enter New Pin" required maxlength="4" minlength="4"
                   matInput/>
            <mat-hint *ngIf="newPasswordControl.dirty && newPasswordControl.invalid" class="text-danger" i18n>
              Current Pin is Required and must 4 digits
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input type="password" pattern="[0-9]*" inputmode="numeric" [formControl]="confirmPasswordControl"
                   i18n-placeholder
                   placeholder="Enter Confirm Pin"
                   required matInput/>
            <mat-hint *ngIf="confirmPasswordControl.invalid && confirmPasswordControl.dirty"
                      class="text-danger" i18n>
              Pin should match
            </mat-hint>
          </mat-form-field>

        </div>
        <div class="form-group">
          <div class="">
            <div class="pull-right">
              <button type="reset" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
                class='fa fa-sync'></i> <span i18n>&nbsp;Reset</span>
              </button>
              &nbsp;
              <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || passwordFormGroup.invalid">
                <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
                &nbsp;{{isSaving ? 'Saving' : 'Save'}}
              </button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
