<div>
  <form class="form-horizontal" [formGroup]="merchantFormGroup" novalidate
        (ngSubmit)="formSubmit()">
    <div style="max-height: 500px;overflow-y: auto">
      <mat-form-field>
        <input type="password" [formControl]="merchantPasswordControl" minlength="4" maxlength="4" placeholder="Enter Password" required i18n-placeholder
               matInput/>
        <mat-hint *ngIf="merchantPasswordControl.dirty && merchantPasswordControl.invalid" class="text-info" i18n>
          Password is Required
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="password" [formControl]="merchantConfirmPasswordControl" minlength="4" maxlength="4" placeholder="Enter Confirm Password" i18n-placeholder
               required matInput/>
        <mat-hint *ngIf="merchantConfirmPasswordControl.invalid && merchantConfirmPasswordControl.dirty"
                  class="text-info" i18n>
          Password should match
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span>
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || merchantFormGroup.invalid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            &nbsp;{{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
