<!--<nav class="sidebar sidebar-offcanvas" id="sidebar">-->
  <!--<ul class="nav">-->
    <!--<li class="nav-item nav-profile">-->
      <!--<div class="nav-link">-->
        <!--<div class="user-wrapper">-->
          <!--<div class="profile-image">-->
            <!--<img [src]="getProfileImage()" style="width: 32px" alt="profile image">-->
          <!--</div>-->
          <!--<div class="text-wrapper">-->
            <!--<p class="profile-name">{{ getProfileName() }}</p>-->
            <!--<div>-->
              <!--<small class="designation text-muted">{{ getProfileRole() }}</small>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</li>-->
    <!--<li class="nav-item" *ngFor="let route of currentRoutes">-->
      <!--<a class="nav-link" [routerLink]="[route.path]" routerLinkActive="active">-->
        <!--<i *ngIf="!route.isFontAwesome && !route.class" class="material-icons">{{route.icon}}</i>-->
        <!--<i *ngIf="route.isFontAwesome && !route.class" ngClass="{{route.icon}}"></i>-->
        <!--<i *ngIf="route.class.length > 0">-->
          <!--<img width="30" height="30" class="text-gray" [src]="route.class"/>-->
        <!--</i>-->
        <!--<span class="menu-title">{{ route.title }}</span>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</nav>-->

<div class="logo">
  <span class="simple-text">
    <div class="row">
      <div class="col-sm">
        <img class="img-fluid" style="height: 60px;" src="/assets/img/velaapay_logo.png"/>
      </div>
    </div>
  </span>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item" *ngFor="let route of currentRoutes">
      <a class="nav-link" [routerLink]="route.path" routerLinkActive="active">
        <i *ngIf="!route.isFontAwesome && !route.class" class="material-icons">{{route.icon}}</i>
        <i *ngIf="route.isFontAwesome && !route.class" ngClass="{{route.icon}}"></i>
        <i *ngIf="route.class.length > 0">
          <img width="30" height="30" class="text-gray" [src]="route.class"/>
        </i>
        <span class="menu-title">{{ route.title }}</span>
      </a>
    </li>
  </ul>
</div>
