<h4 mat-dialog-title><i class="fa fa-address-card-o"></i> Verify User</h4>
<div mat-dialog-content style="height: 100%; width: 100%">
  <form class="form-horizontal" [formGroup]="cnicFormGroup" novalidate
        (ngSubmit)="formSubmit()">

    <div class="form-group has-feedback">
      <label class="control-label col-md-6"><span i18n>Identification Number</span><span class="required_asterik"> *</span></label>
      <div class="col-md-12 col-sm-12"
           [ngClass]="{'has-success': cnicNameControl.valid, 'has-error' : !cnicNameControl.valid}">
        <label class="label">{{ cnicNameControl?.value }}</label>
        <span *ngIf="cnicNameControl.touched" class="glyphicon form-control-feedback"
              [ngClass]="{'glyphicon-ok ': cnicNameControl.valid, 'glyphicon-remove' : !cnicNameControl.valid}"></span>
        <span class="badge badge-warning" *ngIf="!cnicNameControl.valid" i18n>
            Identification Number is Missing
          </span>
      </div>
    </div>
    <div class="form-group has-feedback">
      <label class="control-label col-sm-12"><span i18n>Image</span><span class="required_asterik"> *</span></label>
      <div class="col-sm-12" [ngClass]="{'has-success': cnicImageControl.valid, 'has-error' : cnicImageControl.valid}">
        <div class="">
          <img class="img-thumbnail img-responsive" [src]="cnicImageControl.value" *ngIf="cnicImageControl.valid">
          <span class="badge badge-warning" *ngIf="!cnicImageControl.valid" i18n>
            Identification Image is Missing
          </span>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </form>
</div>
<div mat-dialog-actions>
  <div class="col-sm-12">
    <div class="pull-right">
      <button type="button" class="btn btn-danger btn-round btn-md" (click)="cancel()" mat-dialog-close mat-raised-button [disabled]="isSaving"><i
        class='fa fa-times'></i> <span i18n>&nbsp;Cancel</span>
      </button>
      &nbsp;
      <button *ngIf="!cnicEdit.isVerified" class="btn btn-primary btn-round btn-md" type="submit" mat-raised-button [disabled]="isSaving || !cnicFormGroup.valid">
        <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
        &nbsp;{{isSaving ? 'Verifying' : 'Verify'}}
      </button>
    </div>
  </div>
</div>
