<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-card-content>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title" i18n>404 Page Not Found</h2>
          <small class="sub-title" i18n>The page you were looking for doesn't exist</small>

          <button (click)="goToHome()" type="button" class="btn btn-round btn-block btn-primary btn-md" i18n>
            Take me home
          </button>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
