<div class="container-fluid">


  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">store</i> <span i18n>Shops</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" i18n-placeholder  placeholder="Search For Shop(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="form-group">
                  <button class="btn btn-primary btn-round btn-md" (click)="addShop()"><i class="material-icons">add</i>&nbsp; <span i18n>Create Shop</span></button>
                  <button class="btn btn-primary btn-round btn-md" (click)="downloadQrCode()"><i class="material-icons">cloud_download</i>&nbsp; <span i18n>Qr Code</span></button>

                </div>
              </div>
            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
              </ng-container>

              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Phone Number</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Start Time</th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}}</td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> End Time</th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}}</td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let element">
                  <a [matTooltipPosition]="'above'"  i18n-mattooltip  matTooltip="View Shop Shop" href="javascript:;" (click)="showDetails(element)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  &nbsp;
                  <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="Edit Shop" href="javascript:;" (click)="editShop(element)"><i class="fa fa-pen" aria-hidden="true"></i></a>
                  &nbsp;
                  <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Delete Shop" href="javascript:;" (click)="deleteShop(element)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<a id="hiddenQrCode" style="display: none" download href="{{link}}">
  <qrcode id="qrCode" [qrdata]="getPhone()" [size]="256" [level]="'M'"></qrcode>
</a>
