/* You can add global styles to this file, and also import other style files */

@import '~ngx-perfect-scrollbar/dist/lib/perfect-scrollbar.component.css';
@import "~ng2-toasty/style-bootstrap.css";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/scss/material-dashboard';
//@import "~angular-bootstrap-md/scss/bootstrap/bootstrap";
//@import "~angular-bootstrap-md/scss/mdb-free";
.custom-dialog .mat-dialog-container{
  padding: 15px 15px 0 15px !important;
}

.no-records{
  text-align: center;
  padding: 10px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.login-background {
  /*background-color: #9124A3;*/
  background: linear-gradient(rgba(66, 133, 244, 0.5), rgba(55, 171, 200,0.5)),url("/assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-top-7 {
  padding-top: 5px;
}

.login-header {
  font-weight: 800;
  font-size: 25px;
}

.login-button {
  border-radius: 25px !important;
}

.card-border{
  border-radius: 25px !important;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.full-width-form {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.show-cursor{
  cursor: pointer;
}

