<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="fa fa-plane page-caption" aria-hidden="true"></i> <span i18n>Merchant Top Up Requests</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="Search For Request(s)"></app-search-box>
                </div>
              </div>

            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type | cashInRequestType}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Vendor</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
              </ng-container>

              <ng-container matColumnDef="transactionCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Transaction Code</th>
                <td mat-cell *matCellDef="let element"> {{element.transactionCode}}</td>
              </ng-container>
              <!-- CNIC Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status</th>
                <td mat-cell *matCellDef="let element" [innerHtml]="element.status | requestType"></td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let element">
                  <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="View Request" href="javascript:;" (click)="viewCashInRequest(element)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  &nbsp;
                  <span *ngIf="element.status == NoneStatus">
                    <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Accept Request" href="javascript:;" (click)="acceptCashInRequest(element)"><i class="fa fa-check" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Reject Request" href="javascript:;" (click)="rejectCashInRequest(element)"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </span>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
