<div class="container-fluid" *ngIf="userDetail">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary btn-md btn-round float-left" (click)="goBack()"><i class="fa fa-long-arrow-alt-left"></i> &nbsp; <span i18n>Back</span></button>
    </div>
  </div>
  <div class="row" *ngIf="userDetail">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <div class="card-header-text">{{ userDetail.name }}</div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 flex-center">
            <img style="max-height: 256px; max-width: 256px" [src]="userDetail.image" [alt]="userDetail.name">
          </div>
          <div class="col-md-6 col-sm-12">
            <qrcode class="flex-center" [qrdata]="userDetail.phone" [size]="256" [level]="'M'"></qrcode>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <span class="font-weight-bold" i18n>UserId</span>
                </div>
                <div class="col-sm-6  col-md-9">
                  {{ userId }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <span class="font-weight-bold" i18n>Full Name</span>
                </div>
                <div class="col-sm-6  col-md-9">
                  {{ userDetail.name }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <span class="font-weight-bold" i18n>Email</span>
                </div>
                <div class="col-sm-6  col-md-9">
                  {{ userDetail.email }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <span class="font-weight-bold" i18n>Phone</span>
                </div>
                <div class="col-sm-6  col-md-9">
                  {{ userDetail.phone }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <span class="font-weight-bold" i18n>Registered</span>
                </div>
                <div class="col-sm-6  col-md-9">
                  {{ userDetail.date | date: "medium" }}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <span class="font-weight-bold" i18n>Identification</span>
                </div>
                <div class="col-sm-6  col-md-9">
                  <span *ngIf="userDetail.cnic">{{ userDetail.cnic }}</span>
                  <span *ngIf="!userDetail.cnic">N/A</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm">
          <div class="card card-stats card-bottom-0">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category" i18n>Wallet</p>
              <h3 class="card-title">{{ userDetail.wallet }} MVR</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> <span i18n>Just Updated</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card card-stats card-bottom-0">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category" i18n>Total Sent</p>
              <h3 class="card-title">{{ userDetail.totalSent }} MVR</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> <span i18n>Just Updated</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card card-stats card-bottom-0">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category" i18n>Total Received</p>
              <h3 class="card-title">{{ userDetail.totalReceived }} MVR</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> <span i18n>Just Updated</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"  *ngIf="userDetail">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <span class="float-left" i18n>Recent Transactions</span>
          <span class="float-right"><button class="btn btn-sm btn-outline-light" (click)="viewMoreTransactions()">View More</button></span>
        </div>
        <div class="card-body">
          <table mat-table style="width: 100%;"  [dataSource]="userDetail.transactions" matSort class="mat-elevation-z8">

            <!-- FullName Column -->
            <ng-container matColumnDef="transactionCode">
              <th mat-header-cell *matHeaderCellDef i18n> Code</th>
              <td mat-cell *matCellDef="let element"> {{element.transactionCode}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef i18n> Amount</th>
              <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
            </ng-container>

            <!-- CNIC Column -->
            <ng-container matColumnDef="senderName">
              <th mat-header-cell *matHeaderCellDef i18n> Sender</th>
              <td mat-cell *matCellDef="let element"> {{element.senderName}}</td>
            </ng-container>
            <!-- CNIC Column -->
            <ng-container matColumnDef="receiverName">
              <th mat-header-cell *matHeaderCellDef i18n> Receiver</th>
              <td mat-cell *matCellDef="let element"> {{element.receiverName}}</td>
            </ng-container>
            <ng-container matColumnDef="loadType">
              <th mat-header-cell *matHeaderCellDef i18n> Type</th>
              <td mat-cell *matCellDef="let element"> {{element.loadType | loadType}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef i18n> Date</th>
              <td mat-cell *matCellDef="let element"> {{element.date}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedTransactionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTransactionColumns;"></tr>
          </table>
          <div *ngIf="userDetail?.transactions?.length == 0" class="no-records" i18n>
            No records found
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"  *ngIf="userDetail">
    <div class="col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <span class="float-left">Recent Requests</span>
          <span class="float-right"><button class="btn btn-sm btn-outline-light" (click)="viewMoreRequests()">View More</button></span>
        </div>
        <div class="card-body">
          <table mat-table style="width: 100%;"  [dataSource]="userDetail.requests" matSort class="mat-elevation-z8">

            <!-- FullName Column -->
            <ng-container matColumnDef="senderName">
              <th mat-header-cell *matHeaderCellDef i18n> Sender</th>
              <td mat-cell *matCellDef="let element"> {{element.senderName}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef i18n> Amount</th>
              <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
            </ng-container>

            <!-- CNIC Column -->
            <ng-container matColumnDef="receiverName">
              <th mat-header-cell *matHeaderCellDef i18n> Receiver</th>
              <td mat-cell *matCellDef="let element"> {{element.receiverName}}</td>
            </ng-container>
            <!-- CNIC Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef i18n> Type</th>
              <td mat-cell *matCellDef="let element" [innerHtml]="element.status | requestType"></td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef i18n> Date</th>
              <td mat-cell *matCellDef="let element"> {{element.date}}</td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedRequestColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRequestColumns;"></tr>
          </table>
          <div *ngIf="userDetail?.requests?.length == 0" class="no-records" i18n>
            No records found
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
