
<div class="container">
  <header class="pageHeader">
    <h3><i class="fa  fa-lg page-caption fa-user" aria-hidden="true"></i> <span i18n>User Info</span></h3>
  </header>
  <div>
    <!-- Researcher Email verification -->
    <div>

      <div class="row">
        <div class="col-sm-12 col-md-12 ">
          <table class="table table-responsive-sm">
              <tbody>
                <tr>
                  <td i18n>Full Name</td>
                  <td>{{ user.fullName }}</td>
                </tr>
                <tr>
                  <td i18n>Email</td>
                  <td>{{ user.email }}</td>
                </tr>
                <tr>
                  <td i18n>Phone Number</td>
                  <td>{{ user.phoneNumber }}</td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
