<div>
  <form class="form-horizontal" [formGroup]="employeeFormGroup" novalidate
        (ngSubmit)="formSubmit()">
    <div style="max-height: 500px;overflow-y: scroll">
      <mat-form-field>
        <input type="text" formControlName="name" placeholder="Enter Employee Name" matInput required  i18n-placeholder/>
        <mat-hint class="text-danger" *ngIf="employeeNameControl.touched && employeeNameControl.errors?.required" i18n>
          Employee Name is required
        </mat-hint>
        <mat-hint class="text-danger" *ngIf="employeeNameControl.touched && employeeNameControl.errors?.minLength" i18n>
          Employee Name must have minimum 2 characters
        </mat-hint>
        <mat-hint class="text-danger" *ngIf="employeeNameControl.touched && employeeNameControl.errors?.maxLength" i18n>
          Employee Name cannot exceed 255 characters
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="text" [formControl]="employeePhoneNumberControl" placeholder="Enter Phone Number" matInput  i18n-placeholder
               required/>
        <mat-hint class="text-danger"
                  *ngIf="employeePhoneNumberControl.touched && employeePhoneNumberControl.errors?.required" i18n-placeholder>
          Employee Phone Number is required
        </mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="isNewEmployee">
        <input type="password"
               pattern="[0-9]*"
               inputmode="numeric"
               required
               maxlength="4"
               minlength="4"
               [formControl]="employeePasswordControl"
               placeholder="Enter Pin"
               matInput/>
        <mat-hint *ngIf="employeePasswordControl.dirty && employeePasswordControl.invalid" class="text-danger"  i18n-placeholder>
          Pin is Required
        </mat-hint>
      </mat-form-field>
      <mat-form-field *ngIf="isNewEmployee">
        <input type="password"
               pattern="[0-9]*"
               inputmode="numeric"
               required
               maxlength="4"
               minlength="4"
               [formControl]="employeeConfirmPasswordControl"
               placeholder="Enter Confirm Pin"
               i18n-placeholder
               matInput/>
        <mat-hint *ngIf="employeeConfirmPasswordControl.invalid && employeeConfirmPasswordControl.dirty"
                  class="text-danger" i18n>
          Pin should match
        </mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input [textMask]="{mask: timeMask}" type="text" formControlName="startTime" placeholder="Enter Start Time"  i18n-placeholder=""
               matInput/>
        <mat-hint *ngIf="employeeStartTimeControl.touched && employeeStartTimeControl.invalid" class="text-danger"  i18n>
          e.g. 10:00 AM/PM
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input [textMask]="{mask: timeMask}" type="text" formControlName="endTime" i18n-placeholder placeholder="Enter End Time"
               matInput/>
        <mat-hint *ngIf="employeeEndTimeControl.touched && employeeEndTimeControl.invalid" class="text-danger" i18n>
          e.g. 10:00 AM/PM
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select [disabled]="!isNewEmployee" placeholder="Select Shop"  i18n-placeholder [formControl]="employeeShopControl">
          <mat-option *ngFor="let type of shops" [value]="type.shopId">
            {{ type.name }}
          </mat-option>
        </mat-select>
        <mat-hint class="text-danger" *ngIf="employeeTypeControl.touched && employeeTypeControl.invalid" i18n>Shop is
          Required
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select [disabled]="!isNewEmployee" placeholder="Select Employee Type"  i18n-placeholder [formControl]="employeeTypeControl"
                    >
          <mat-option *ngFor="let type of employeeTypes" [value]="type.value">
            {{ type.text }}
          </mat-option>
        </mat-select>
        <mat-hint class="text-danger" *ngIf="employeeTypeControl.touched && employeeTypeControl.invalid" i18n>Employee Type
          is
          Required
        </mat-hint>
      </mat-form-field>

      <div>
        <label class="control-label"><span i18n>Image</span><span class="required_asterik"> *</span></label>
        <div class="" [ngClass]="{'has-success': employeeImageControl.valid, 'has-error' : employeeImageControl.valid}">
          <button type="button" class="btn btn-info btn-sm" onclick="document.getElementById('fileToUpload').click()">
            <span i18n>Add Image</span>
          </button>
          <input hidden id="fileToUpload" class="form-control" formControlName="image" type="file"
                 (change)="onFileAdded($event)"
                 accept="image/x-png,image/gif,image/jpeg"/>
          <div class="">
            <img class="img-thumbnail img-responsive" [src]="employeeImageControl.value"
                 *ngIf="employeeImageControl.valid">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span>
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || employeeFormGroup.invalid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            &nbsp;{{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
