<div class="icon-addon addon-sm">
  <mat-form-field>
    <input [matAutocomplete]="auto" [autocomplete]="showSuggestions" matInput id="searchInput" #searchInput type="search" ngModel=""(keydown.esc)="searchInput.value=''; onSearchChange()" (keydown.enter)="onSearchChange()" (keyup)="onValueChange()" [placeholder]="placeholder"
           style="padding-right:35px;">
    <button mat-button *ngIf="searchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput.value=''; onSearchChange()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of suggestions" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
