<div>
  <form class="form-horizontal" [formGroup]="companyFormGroup" novalidate
        (ngSubmit)="formSubmit()">

    <mat-form-field>
      <input type="text" formControlName="name" placeholder="Enter Company Name" matInput i18n-placeholder/>
      <mat-hint class="text-danger" *ngIf="companyNameControl.touched && companyNameControl.errors?.required" i18n>
        Company Name is required
      </mat-hint>
      <mat-hint class="text-danger" *ngIf="companyNameControl.touched && companyNameControl.errors?.minLength" i18n>
        Company Name must have minimum 2 characters
      </mat-hint>
      <mat-hint class="text-danger" *ngIf="companyNameControl.touched && companyNameControl.errors?.maxLength" i18n>
        Company Name cannot exceed 255 characters
      </mat-hint>
    </mat-form-field>
    <!--<input type="text" formControlName="name" placeholder="Enter Company Name" class="form-control" />-->

    <mat-form-field>
      <mat-select placeholder="Select Company Type" [formControl]="companyTypeControl">
        <mat-option *ngFor="let type of companyTypes" [value]="type.value">
          {{ type.text }}
        </mat-option>
      </mat-select>
      <mat-hint class="text-danger" *ngIf="companyTypeControl.touched && companyTypeControl.invalid" i18n>Company Type
        is Required
      </mat-hint>
    </mat-form-field>
    <div class="form-group">
      <label class="control-label"><span i18n>Image</span><span class="required_asterik"> *</span></label>
      <div class="" [ngClass]="{'has-success': companyImageControl.valid, 'has-error' : companyImageControl.valid}">
        <button type="button" class="btn btn-info btn-sm" onclick="document.getElementById('fileToUpload').click()"
                i18n>
          Add Image
        </button>
        <input id="fileToUpload" class="form-control" formControlName="image" type="file" (change)="onFileAdded($event)"
               accept="image/x-png,image/gif,image/jpeg"/>
        <div class="">
          <img class="img-thumbnail img-responsive" style="max-height: 200px" [src]="companyImageControl.value" *ngIf="companyImageControl.valid">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span></button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md"
                  [disabled]="isSaving || !companyFormGroup.valid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;
            {{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
