<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">attach_money</i> <span i18n>Cash Outs</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" i18n-placeholder placeholder="Search For CashOut(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <button class="btn btn-primary btn-round btn-md" (click)="addCashOut()"><i class="material-icons">add</i>&nbsp; <span i18n>Create Cash Out</span></button>
              </div>
            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Customer</th>
                <td mat-cell *matCellDef="let element"> {{element.customer}}</td>
              </ng-container>

              <ng-container matColumnDef="shop">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Shop</th>
                <td mat-cell *matCellDef="let element"> {{element.shop}}</td>
              </ng-container>
              <ng-container matColumnDef="transactionId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Transaction Code</th>
                <td mat-cell *matCellDef="let element"> {{element.transactionId}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Employee</th>
                <td mat-cell *matCellDef="let element"> {{element.employee}}</td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status</th>
                <td mat-cell *matCellDef="let element" [innerHtml]="element.status | requestType"></td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
