<div class="no-margins row login-background">
  <div class="col-sm col-md-6 col-lg-4 offset-lg-4 offset-md-3 horizontal-center  align-self-center">
    <div class="row">
      <div class="col-sm">
        <img class="img-fluid" src="/assets/img/logo-horizontal.png">
      </div>
    </div>
    <div class="card card-border">
      <div class="card-header text-center">
        <span class="login-header text-primary" i18n>Set Password</span>
      </div>
      <div class="card-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="passwordFormGroup.valid ? setPasswordAndPin() :
              showErrorMessage()">
          <div>

            <mat-form-field class="full-width-form">
              <input matInput type="password"
                     [type]="isHidden ? 'password': 'text'"
                     min="1000"
                     autocomplete="off"
                     max="9999"
                     i18n-placeholder
                     maxlength="4"
                     minlength="4"
                     pattern="[0-9]*"
                     inputmode="numeric"
                     placeholder="Enter 4 digit Pin"
                     [formControl]="pinControl"
                     required>
              <mat-icon *ngIf="isHidden" (click)="isHidden = !isHidden" style="cursor: pointer" matSuffix><i
                class="fa fa-eye"></i></mat-icon>
              <mat-icon *ngIf="!isHidden" (click)="isHidden = !isHidden" style="cursor: pointer" matSuffix><i
                class="fa fa-eye-slash"></i></mat-icon>
              <mat-hint *ngIf="pinControl.errors?.required && pinControl.dirty" i18n>
                Pin is required
              </mat-hint>
              <mat-hint *ngIf="pinControl.errors?.maxLength && pinControl.dirty" i18n>
                Cannot exceed 4 characters
              </mat-hint>
              <mat-hint *ngIf="pinControl.errors?.minLength && pinControl.dirty" i18n>
                Cannot be less than 4 characters
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm text-center">
            <button mat-raised-button type="submit" [disabled]="!passwordFormGroup.valid"
                    class="btn btn-primary login-button btn-block">
              <span i18n>Set Password</span>
            </button>
            <!--<button mat-raised-button type="button" class="btn btn-default" (click)="goToRegisterPage()">Register-->
            <!--</button>-->
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>

