<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">person</i> <span i18n>Employee</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" i18n-placeholder
                                  placeholder="Search For Employee(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="form-group">
                  <button class="btn btn-primary btn-round btn-md" (click)="addEmployee()"><i class="material-icons">add</i> <span i18n>Create Employee</span>
                  </button>
                </div>
              </div>
            </div>
            <table mat-table style="width: 100%;" [dataSource]="rows" matSort class="mat-elevation-z8"
                   (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="employeeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.employeeName}}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Phone Number</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="employeeLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Role</th>
                <td mat-cell *matCellDef="let element"> {{element.employeeLevel | employeeType}}</td>
              </ng-container>
              <ng-container matColumnDef="shopName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Shop Name</th>
                <td mat-cell *matCellDef="let element"> {{element.shopName}}</td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Start Time</th>
                <td mat-cell *matCellDef="let element"> {{element.startTime}}</td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> End Time</th>
                <td mat-cell *matCellDef="let element"> {{element.endTime}}</td>
              </ng-container>
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="+element.employeeLevel > 1">
                  <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Send Money" href="javascript:;"
                     (click)="sendMoney(element)"><i class="material-icons" aria-hidden="true">send</i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Edit Employee" href="javascript:;"
                       (click)="editEmployee(element)"><i class="fa fa-pen" aria-hidden="true"></i></a>
                  &nbsp;
                  <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Delete Employee" href="javascript:;"
                     (click)="deleteEmployee(element)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  &nbsp;
                  <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Change Password" href="javascript:;"
                     (click)="changeEmployeePassword(element)"><i class="fa fa-key" aria-hidden="true"></i></a>
                  </span>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'" [pageIndex]="page"
                           [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
