<div class="container-fluid">

  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">person</i>  <span i18n>Customers</span></h3>
          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box [showSuggestions]="true" [suggestions]="suggestions" [isLoading]="isLoadingSuggestion" (searchChange)="onSearchChanged($event)" (valueChange)="onSearchValueChange($event)" placeholder="Search For User"></app-search-box>
                </div>
              </div>
            </div>
            <table mat-table style="width: 100%;" [dataSource]="rows" matSort class="mat-elevation-z8"
                   (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}}</td>
              </ng-container>

              <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef i18n> Balance</th>
                <td mat-cell *matCellDef="let element"> {{element.totalBalance | currency: "MVR "}}</td>
              </ng-container>
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Registered Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'medium'}}</td>
              </ng-container>

              <!-- IsEnabled Column -->
              <ng-container matColumnDef="isEnabled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.isEnabled" class="badge badge-success">Enabled</span>
                  <span *ngIf="!element.isEnabled" class="badge badge-warning">Disabled</span>
                </td>
              </ng-container>

              <!-- IsVerified Column -->
              <ng-container matColumnDef="isVerified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Verification</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.isVerified" class="badge badge-success">Verified</span>
                  <span *ngIf="!element.isVerified" class="badge badge-warning">Not Verified</span>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Mobile Number</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
              </ng-container>

              <ng-container #actionsTemplate matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="!(currentUserId() == row.id)">
                    <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Edit User" href="javascript:;"
                       (click)="editUser(row)"><i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Change Pin" href="javascript:;"
                       (click)="changePin(row)"><i class="fa fa-key" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="View User" href="javascript:;"
                       (click)="viewUser(row)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Send Message" href="javascript:;"
                       (click)="sendMessage(row)"><i class="fa fa-comment" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Verify User" href="javascript:;"
                       (click)="verifyUser(row)"><i class="fa fa-address-card" aria-hidden="true"></i></a>
                    &nbsp;
                    <span *ngIf="row.isEnabled">
                      <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Block User" href="javascript:;"
                         (click)="blockUser(row)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </span>
                    <span *ngIf="!row.isEnabled">
                      <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Unblock User" href="javascript:;"
                         (click)="unBlockUser(row)"><i class="material-icons">remove_circle</i></a>
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'" [pageIndex]="page"
                           [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
