<div class="container-fluid" *ngIf="shopDetail">
  <div class="row" style="height: 560px">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm">
          <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category" i18n>Total Sales</p>
              <h3 class="card-title"> {{ shopDetail.totalSales | currency: "KSA " }}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i>
                Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category" i18n>Total Cash In</p>
              <h3 class="card-title"> {{ shopDetail.totalCashIn | currency: "KSA " }}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i>
                Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">attach_money</i>
              </div>
              <p class="card-category" i18n>Total Cash Out</p>
              <h3 class="card-title"> {{ shopDetail.totalCashOut | currency: "KSA " }}
              </h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i>
                <span i18n>Just Updated</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card card-header-primary">
              <h3><i class="material-icons page-caption" aria-hidden="true">attach_money</i>Last Sales</h3>

            </div>
            <div class="card-body">
              <table mat-table style="width: 100%;" [dataSource]="shopDetail.sales" matSort class="mat-elevation-z8">

                <!-- FullName Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Customer</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="shop">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Shop</th>
                  <td mat-cell *matCellDef="let element"> {{element.shop}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="cashier">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Cashier</th>
                  <td mat-cell *matCellDef="let element"> {{element.cashier}}</td>
                </ng-container>

                <!-- CNIC Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
                </ng-container>
                <!-- CNIC Column -->

                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.date}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="saleDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: saleDisplayedColumns;"></tr>
              </table>
              <div *ngIf="shopDetail.sales?.length == 0" class="no-records" i18n>
                No records found
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 560px">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card card-header-primary">
              <h3><i class="material-icons page-caption" aria-hidden="true">attach_money</i><span i18n>Last Cash Ins</span></h3>

            </div>
            <div class="card-body">
              <table mat-table style="width: 100%;"  [dataSource]="shopDetail.cashInTracks" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

                <!-- FullName Column -->
                <ng-container matColumnDef="customer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Customer</th>
                  <td mat-cell *matCellDef="let element"> {{element.customer}}</td>
                </ng-container>

                <ng-container matColumnDef="shop">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Shop</th>
                  <td mat-cell *matCellDef="let element"> {{element.shop}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="employee">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Employee</th>
                  <td mat-cell *matCellDef="let element"> {{element.employee}}</td>
                </ng-container>

                <!-- CNIC Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
                </ng-container>

                <!-- CNIC Column -->
                <ng-container matColumnDef="transactionCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Transaction Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.transactionCode}}</td>
                </ng-container>
                <!-- CNIC Column -->

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cashInDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: cashInDisplayedColumns;"></tr>
              </table>
              <div *ngIf="shopDetail.cashInTracks?.length == 0" class="no-records" i18n>
                No records found
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card card-header-primary">
              <h3><i class="material-icons page-caption" aria-hidden="true">attach_money</i> <span i18n>Cash Outs</span></h3>

            </div>
            <div class="card-body">
              <table mat-table style="width: 100%;"  [dataSource]="shopDetail.cashOuts" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

                <!-- FullName Column -->
                <ng-container matColumnDef="customer">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Customer</th>
                  <td mat-cell *matCellDef="let element"> {{element.customer}}</td>
                </ng-container>

                <ng-container matColumnDef="shop">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Shop</th>
                  <td mat-cell *matCellDef="let element"> {{element.shop}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="employee">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Employee</th>
                  <td mat-cell *matCellDef="let element"> {{element.employee}}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                  <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status</th>
                  <td mat-cell *matCellDef="let element" [innerHtml]="element.status | requestType"></td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="cashOutDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: cashOutDisplayedColumns;"></tr>
              </table>
              <div *ngIf="shopDetail.cashOuts?.length == 0" class="no-records">
                No records found
              </div>
              <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
