<div>
  <form class="form-horizontal" [formGroup]="userFormGroup" novalidate
        (ngSubmit)="formSubmit()">
    <div style="max-height: 500px;overflow-y: auto">
      <mat-form-field>
        <input type="password" pattern="[0-9]*" inputmode="numeric" [formControl]="userPinControl"
               i18n-placeholder
               placeholder="Enter Pin" required maxlength="4" minlength="4"
               matInput/>
        <mat-hint *ngIf="userPinControl.dirty && userPinControl.invalid" class="text-info" i18n>
          Pin is Required and must 4 digits
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="password" pattern="[0-9]*" inputmode="numeric" [formControl]="userConfirmPinControl"
               i18n-placeholder
               placeholder="Enter Confirm Pin"
               required matInput/>
        <mat-hint *ngIf="userConfirmPinControl.invalid && userConfirmPinControl.dirty"
                  class="text-info" i18n>
          Pin should match
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i> <span i18n>&nbsp;Cancel</span>
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || userFormGroup.invalid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            &nbsp;{{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
