<h4 mat-dialog-title><i class="fa fa-comment"></i> <span i18n>Send Message</span></h4>
<div mat-dialog-content style="height: 100%; width: 100%">
  <form class="form-horizontal" [formGroup]="messageGroup" novalidate
        (ngSubmit)="formSubmit()">

    <mat-form-field class="full-width-form">
      <input matInput type="text"
             [placeholder]="'Message To ' + (user != null ? user.fullName : 'All')"
             name="password"
             formControlName="message"
             required>
    </mat-form-field>
    <span *ngIf="messageControl.invalid && messageControl.errors?.required" i18n>
      Message is required
    </span>
    <span *ngIf="messageControl.invalid && messageControl.errors?.maxlength" i18n>
      Message can only have maximum 100 characters
    </span>
    <div class="clearfix"></div>
  </form>
</div>
<div mat-dialog-actions>
  <div class="col-sm-12">
    <span style="float: right;">
      <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" mat-dialog-close mat-raised-button [disabled]="isSaving"><i
        class='fa fa-times'></i> <span i18n>Cancel</span>
      </button>
      &nbsp;
      <button type="button" mat-raised-button class="btn btn-primary btn-round btn-md" (click)="formSubmit()" [disabled]="isSaving || !messageGroup.valid">
        <i *ngIf="!isSaving" class='fa fa-comment'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
        {{isSaving ? 'Sending' : 'Send'}}
      </button>
    </span>
  </div>
</div>
