<div class="container">
  <header class="pageHeader">
    <h3><i class="fa  fa-lg page-caption fa fa-dollar-sign" aria-hidden="true"></i> Change Limit</h3>
  </header>
  <div>
    <div>

      <div class="row">
        <div class="col-sm-12 col-md-12 ">
          <form  class="form-horizontal" name="studyInfoForm" #f="ngForm" novalidate
                 (ngSubmit)="f.form.valid ? save() :
                      false
    ">

            <div class="form-group">

              <div class="col-md-10">
                <mat-form-field class="form-group">
                  <input type="number" min="1" [formControl]="limitControl" placeholder="Enter Limit" matInput />
                </mat-form-field>

              </div>
            </div>
            <div class="form-group">
              <div class="">
                <div class="pull-right">
                  &nbsp;
                  <button type="submit" class="btn btn-info" [disabled]="isSaving || !f.valid || !limitControl.valid">
                    <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i> {{isSaving ? 'Updating' : 'Update'}}
                  </button>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>
