<div>
  <form novalidate [formGroup]="customerGroup" (ngSubmit)="formSubmit()">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput type="text" [formControl]="customerNameControl" required placeholder="Enter Name">
              <mat-hint *ngIf="customerNameControl.errors?.required && customerNameControl.touched" class="text-danger" i18n>
                Name is Required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput type="text" [formControl]="customerCnicControl" required placeholder="Enter Identification Number">
              <mat-hint *ngIf="customerCnicControl.invalid && customerCnicControl.touched" class="text-danger" i18n>
                Identification
                Number is Required and should have 13 characters or 17 characters
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label class="control-label"><span i18n>Identification Image</span><span class="required_asterik"> *</span></label>
              <div>
                <button type="button" class="btn btn-sm registration-button"
                        onclick="document.getElementById('fileToUpload2').click()">
                  <i class="fa fa-paperclip"></i>&nbsp;<span i18n>Add Image</span>
                </button>
                <input id="fileToUpload2" class="form-control" required type="file"
                       (change)="onFileAddedIdentification($event)" hidden accept="image/x-png,image/gif,image/jpeg"/>
                <div class="">
                  <img  style="height: 150px;" class="img-thumbnail img-responsive" [src]="customerCnicImageControl.value"
                        *ngIf="customerCnicImageControl.value">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i class='fa fa-times'></i> <span i18n>&nbsp;Cancel</span></button>
            &nbsp;
            <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || !customerGroup.valid">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp; {{isSaving ? 'Saving' : 'Save'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
