<div class="fixActionRow">
  <h1 mat-dialog-title>{{ getType() }}</h1>
  <div mat-dialog-content>
    <p>{{ content }}</p>
  </div>
  <div class="spacer"></div>
  <div mat-dialog-actions>
    <button mat-raised-button class="btn btn-primary btn-round btn-md" (click)="OkClick()">{{ labelOk }}</button>
    <button mat-raised-button class="btn btn-danger btn-round btn-md" [mat-dialog-close]="true">{{ labelNo }}</button>
  </div>
</div>
