<div class="container">
  <header class="pageHeader row">
    <h3><i class="material-icons page-caption" aria-hidden="true">settings</i> Settings </h3>
  </header>

  <div class="row" >
    <div class="tab">
      <button class="tablinks active" (click)="openCity($event, 'profile')"><i class="fa fa-user"></i>&nbsp; <span i18n>User Info</span></button>
      <button class="tablinks" (click)="openCity($event, 'password')"><i class="fa fa-key"></i>&nbsp; <span i18n>Change Password</span></button>
      <button class="tablinks" (click)="openCity($event, 'todayLimit')"><i class="fa fa-dollar-sign"></i>&nbsp; <span i18n>Change Limit</span></button>
      <button *ngIf="!isVerified() && isVendor()" class="tablinks" (click)="openCity($event, 'businessInfo')"><i class="fa fa-address-card" aria-hidden="true"></i>&nbsp; <span i18n>Business Info</span></button>
    </div>

    <div id="profile" class="tabcontent active">
      <app-user-info></app-user-info>
    </div>
    <div id="password" class="tabcontent" style="display: none">
      <app-change-password></app-change-password>
    </div>
    <div *ngIf="!isVerified() && isVendor()" id="businessInfo" class="tabcontent" style="display: none">
      <app-business-info></app-business-info>
    </div>
    <div id="todayLimit" class="tabcontent" style="display: none">
      <app-today-limit></app-today-limit>
    </div>
  </div>
</div>
