<div>
  <form class="form-horizontal" [formGroup]="bankFormGroup" novalidate
        (ngSubmit)="formSubmit()">
      <mat-form-field>
        <input type="text" [formControl]="bankNameControl" placeholder="Enter Bank Name" matInput required/>
        <mat-hint class="text-danger" *ngIf="bankNameControl.touched && bankNameControl.errors?.required" >
                    Bank Name is required
        </mat-hint>
        <mat-hint *ngIf="bankNameControl.touched && bankNameControl.errors?.minLength" >
                    Bank Name must have minimum 2 characters
        </mat-hint>
        <mat-hint class="text-danger" *ngIf="bankNameControl.touched && bankPhoneNumberControl.errors?.maxLength" >
                    Bank Name cannot exceed 255 characters
        </mat-hint>
      </mat-form-field>
    <mat-form-field>
      <input  matInput required [textMask]="{mask: mask}" type="text" [formControl]="bankPhoneNumberControl"
             placeholder="Enter Phone Number"/>
      <mat-hint class="text-danger" *ngIf="bankPhoneNumberControl.touched && bankPhoneNumberControl.errors?.required">
                    Phone Number is required
        </mat-hint>
      <mat-hint class="text-danger" *ngIf="bankPhoneNumberControl.touched && bankPhoneNumberControl.errors?.maxLength">
                    Phone Number must be of 10 numbers
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="text" [formControl]="bankSwiftCodeControl" placeholder="Enter Swift Code"/>
      <mat-hint class="text-danger" *ngIf="bankSwiftCodeControl.touched && bankSwiftCodeControl.errors?.swiftCode" >
        Swift Code must be 8 or 11 characters
      </mat-hint>
    </mat-form-field>
      <mat-form-field>
        <textarea type="text" matInput required [formControl]="bankAddressControl" placeholder="Enter Address"></textarea>
        <mat-hint class="text-danger"  *ngIf="bankAddressControl.touched && bankAddressControl.errors?.required" >
                    Address is required
        </mat-hint >
      </mat-form-field>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i> Cancel
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || !bankFormGroup.valid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            {{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
