<div class="row">
  <div class="col-sm">
    <img *ngIf="cashInRequest" [src]="cashInRequest.image" class="img-thumbnail img-fluid">
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm">
    <button type="button" (click)="cancel()" class="btn btn-danger"><i class='fa fa-times'></i> <span i18n>Cancel</span></button>
  </div>
</div>
