<div>
  <form class="form-horizontal" [formGroup]="requestFormGroup" novalidate
        (ngSubmit)="formSubmit()">
    <div style="max-height: 500px; overflow-y: auto;overflow-x: hidden">
      <mat-form-field>
        <input [readonly]="!isNewRequest" type="text" formControlName="code" placeholder="Enter Request Code" matInput required  i18n-placeholder/>
        <mat-hint class="text-danger" *ngIf="requestCodeControl.touched && requestCodeControl.errors?.required" i18n>
          Request Code is required
        </mat-hint>
        <mat-hint class="text-danger" *ngIf="requestCodeControl.touched && requestCodeControl.errors?.min" i18n>
          Request Code must have at least 1 amount
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input [readonly]="!isNewRequest" min="1" type="number" formControlName="amount" placeholder="Enter Request Amount" matInput required i18n-placeholder/>
        <mat-hint class="text-danger" *ngIf="requestAmountControl.touched && requestAmountControl.errors?.required" i18n>
          Request Amount is required
        </mat-hint>
        <mat-hint class="text-danger" *ngIf="requestAmountControl.touched && requestAmountControl.errors?.min" i18n>
          Request Amount must have at least 1 amount
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-select [disabled]="!isNewRequest" placeholder="Select Request Type" [formControl]="requestTypeControl"
                    >
          <mat-option *ngFor="let type of requestTypes" [value]="type.value">
            {{ type.text | cashInRequestType }}
          </mat-option>
        </mat-select>
        <mat-hint class="text-danger" *ngIf="requestTypeControl.touched && requestTypeControl.invalid" i18n>
          Request Type is Required
        </mat-hint>
      </mat-form-field>
      <div class="form-group">
        <label class="control-label"><span i18n>Image</span><span class="required_asterik"> *</span></label>
        <div class="" [ngClass]="{'has-success': requestImageControl.valid, 'has-error' : requestImageControl.valid}">
          <button *ngIf="isNewRequest" type="button" class="btn btn-info btn-md btn-round" onclick="document.getElementById('fileToUpload').click()" i18n>
            Add Image
          </button>
          <input [disabled]="!isNewRequest" id="fileToUpload" class="form-control" formControlName="image" type="file"
                 (change)="onFileAdded($event)"
                 accept="image/x-png,image/gif,image/jpeg"/>
          <div class="">
            <img class="img-thumbnail img-responsive" [src]="requestImageControl.value" style="max-height: 250px"
                 *ngIf="requestImageControl.valid">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-md btn-round" [disabled]="isSaving"><i
            class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span>
          </button>
          &nbsp;
          <button *ngIf="isNewRequest" type="submit" class="btn btn-primary btn-md btn-round" [disabled]="isSaving || requestFormGroup.invalid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            &nbsp;{{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
