<div class="container-fluid">

  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">person</i> <span i18n>Merchants</span></h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" i18n-placeholder placeholder="Search For Merchant(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Select Merchant Status"  i18n-placeholder (valueChange)="onVerificationStatusChange($event)">
                    <mat-option value="All" checked i18n>
                      All
                    </mat-option>
                    <mat-option value="0">
                      Not Verified
                    </mat-option>
                    <mat-option value="1">
                      Verified
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <button class="btn btn-md btn-round btn-primary"><i class="fa fa-sync"></i>&nbsp; Refresh</button>
              </div>
            </div>
            <table mat-table style="width: 100%;" [dataSource]="rows" matSort class="mat-elevation-z8"
                   (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Full Name</th>
                <td mat-cell *matCellDef="let element"> {{element.fullName}}</td>
              </ng-container>
              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> User Name</th>
                <td mat-cell *matCellDef="let element"> {{element.userName}}</td>
              </ng-container>
              <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef i18n> Balance</th>
                <td mat-cell *matCellDef="let element"> {{element.totalBalance | currency: "MVR "}}</td>
              s</ng-container>
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Email</th>
                <td mat-cell *matCellDef="let element"> {{element.email}}</td>
              </ng-container>
              <!-- IsEnabled Column -->
              <ng-container matColumnDef="isEnabled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.isEnabled" class="badge badge-success">Enabled</span>
                  <span *ngIf="!element.isEnabled" class="badge badge-warning">Disabled</span>
                </td>
              </ng-container>

              <!-- IsVerified Column -->
              <ng-container matColumnDef="isVerified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Verification</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.isVerified" class="badge badge-success">Verified</span>
                  <span *ngIf="!element.isVerified" class="badge badge-warning">Not Verified</span>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Registered Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'medium'}}</td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Mobile Number</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
              </ng-container>

              <ng-container #actionsTemplate matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let row">
                  <div>
                    <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="Edit Merchant" href="javascript:;" (click)="editMerchant(row)"><i class="fa fa-pen" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="Change Password" href="javascript:;" (click)="changePassword(row)"><i class="fa fa-key" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="View Merchant" href="javascript:;" (click)="viewMerchant(row)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    &nbsp;
                    <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="Verify Merchant" href="javascript:;" (click)="verifyMerchant(row)"><i class="fa fa-address-card" aria-hidden="true"></i></a>
                    &nbsp;
                    <span *ngIf="row.isEnabled">
                      <a [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Block Merchant" href="javascript:;" (click)="blockMerchant(row)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </span>
                    <span *ngIf="!row.isEnabled">
                      <a  [matTooltipPosition]="'above'" i18n-mattooltip matTooltip="Unblock Merchant" href="javascript:;" (click)="unBlockMerchant(row)"><i class="material-icons">remove_circle</i></a>
                    </span>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'" [pageIndex]="page"
                           [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
