<div class="no-margins row vertical-center login-background">
  <div class="col-sm col-md-6 col-lg-4 offset-lg-4 offset-md-3 horizontal-center  align-self-center">

    <div class="row">
      <div class="col-sm horizontal-center">
        <img class="img-fluid" src="/assets/img/logo-horizontal.png">
      </div>
    </div>
    <div class="card card-border">
      <div class="card-header text-center">
        <span class="show-cursor float-left text-gray"><a (click)="goBack()"><i class="fa fa-long-arrow-alt-left"
                                                                                ></i>&nbsp;&nbsp;<span i18n>Back</span></a></span>
        <span class="registration-header text-primary" i18n>Register Merchant</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm text-center">
            <span *ngIf="isError" class="alert alert-danger">{{ errorMessage }}</span>
          </div>
        </div>
        <form #f class="form-horizontal"
              *ngIf="!isRegistered"
              name="regForm"
              #regForm="ngForm"
              novalidate
              (ngSubmit)="verifyPhone()">
          <div style="overflow-y: auto;overflow-x: hidden; max-height: 480px">
            <div class="row">
              <div class="col-sm">
                <mat-form-field class="full-width-form">
                  <input matInput i18n-placeholder placeholder="Enter Full Name" #fullName="ngModel" required
                         type="text" name="fullName"
                         [(ngModel)]="merchant.name">
                  <mat-hint class="text-danger" *ngIf="fullName.touched && !fullName.valid" i18n>Full Name is Required
                  </mat-hint>
                </mat-form-field>
                <mat-form-field class="full-width-form">
                  <mat-label>Enter Phone</mat-label>
                  <input minlength="12" matInput placeholder="+2217XXXXXXXX" i18n-placeholder #phone="ngModel" required
                         type="text" name="phone"
                         maxlength="13"
                         [(ngModel)]="merchant.phoneNumber">
                  <mat-hint class="text-danger" *ngIf="phone.touched && !phone.valid" i18n>Phone is Required</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="row">
              <div class="horizontal-center col-sm align-self-center">
                <button mat-raised-button type="submit"
                        [disabled]="regForm.form.invalid || isSaving"
                        class="btn btn-primary btn-block btn-md btn-round registration-button" i18n>Register
                </button>
              </div>
            </div>
            <!--<button mat-raised-button type="button" (click)="goBack()" class="btn btn-info registration-button"><i class="fa fa-long-arrow-alt-left"></i> &nbsp; Back</button>-->
          </div>
        </form>

        <div *ngIf="isRegistered" class="alert alert-success" i18n>
          You have been Registered Successfully. Please wait for Admin Approval
        </div>

      </div>
    </div>
  </div>
</div>
