.registration-background {
  background: linear-gradient(rgba(66, 66, 66, 0.8), rgba(66, 66, 66,0.8)),url("/assets/img/bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.registration-button {
  border-radius: 25px !important;
}
.registration-header{
  font-weight: 800;
  font-size: 25px;
}
