<div>
  <form class="form-horizontal" [formGroup]="phoneFormGroup" novalidate>
    <div *ngIf="step == 1">
      <mat-form-field>
        <input type="text" [formControl]="phoneControl" i18n-placeholder placeholder="Phone Number" matInput readonly />
      </mat-form-field>
      <div class="form-group">
        <div class="">
          <div class="pull-right">
            <button type="button" (click)="cancel()" class="btn btn-danger btn-md btn-round" [disabled]="isSaving"><i class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span></button>
            &nbsp;
            <button type="button" (click)="sendOtp()" class="btn btn-primary btn-md btn-round" [disabled]="isSaving || !phoneControl.valid">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp; {{isSaving ? 'Sending' : 'Sending OTP'}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="step == 2">
      <mat-form-field>
        <label>Phone Number</label>
        <input type="text" [formControl]="phoneControl" i18n-placeholder placeholder="+2217XXXXXXXX" matInput readonly />
      </mat-form-field>
      <mat-form-field>
        <input type="number" i18n-placeholder minlength="4" maxlength="4" max="9999" [formControl]="codeControl" placeholder="Enter OTP" matInput />
        <mat-hint class="text-danger" *ngIf="codeControl.touched && codeControl.errors?.required" i18n>
          OTP is required
        </mat-hint>
      </mat-form-field>
      <div class="form-group">
        <div class="">
          <div class="pull-right">
            <button type="button" (click)="cancel()" class="btn btn-danger btn-md btn-round" [disabled]="isSaving"><i class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span> </button>
            &nbsp;
            <button type="button" (click)="backStep()" class="btn btn-info btn-md btn-round" [disabled]="isSaving"><i class='fa fa-arrow-left'></i>&nbsp; <span i18n>Back</span></button>
            &nbsp;
            <button type="button"  (click)="verifyOtp()" class="btn btn-primary btn-md btn-round" [disabled]="isSaving || !phoneControl.valid">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;  <span *ngIf="isSaving" i18n>Verifying</span> <span *ngIf="!isSaving" i18n>Verify OTP</span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
