<div>
  <form class="form-horizontal" [formGroup]="shopFormGroup" novalidate
        (ngSubmit)="formSubmit()">

    <div class="col-md-12 col-sm-12">
      <mat-form-field>
        <input type="text" [formControl]="shopNameControl" placeholder="Enter Shop Name" matInput required
               i18n-placeholder/>
        <mat-hint *ngIf="shopNameControl.touched && shopNameControl.errors?.required" class="text-danger" i18n>
          Shop Name is required
        </mat-hint>
        <mat-hint *ngIf="shopNameControl.touched && shopNameControl.errors?.minLength" class="text-danger" i18n>
          Shop Name must have minimum 2 characters
        </mat-hint>
        <mat-hint *ngIf="shopNameControl.touched && shopNameControl.errors?.maxLength" class="text-danger" i18n>
          Shop Name cannot exceed 255 characters
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12">
      <mat-form-field>
        <input [textMask]="{mask: mask}" type="text" [formControl]="shopPhoneNumberControl" i18n-placeholder
               placeholder="Enter Phone Number" matInput required/>
        <mat-hint *ngIf="shopPhoneNumberControl.touched && shopPhoneNumberControl.errors?.required" class="text-danger"
                  i18n>
          Phone Number is required
        </mat-hint>
        <mat-hint *ngIf="shopPhoneNumberControl.touched && shopPhoneNumberControl.errors?.maxLength" class="text-danger"
                  i18n>
          Phone Number must be of 10 numbers
        </mat-hint>
      </mat-form-field>

    </div>
    <div class="col-md-12 col-sm-12">
      <mat-form-field>
        <input [textMask]="{mask: timeMask}" type="text" [formControl]="shopStartTimeControl"
               placeholder="Enter Start Time" i18n-placeholder matInput required/>
        <mat-hint *ngIf="shopStartTimeControl.dirty" class="text-info">
          e.g. 10:00 AM/PM
        </mat-hint>
        <mat-hint *ngIf="shopStartTimeControl.touched && shopStartTimeControl.errors?.required" class="text-danger"
                  i18n>
          Start Time is required
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12">
      <mat-form-field>
        <input [textMask]="{mask: timeMask}" type="text" [formControl]="shopEndTimeControl" i18n-placeholder
               placeholder="Enter End Time" matInput required/>
        <mat-hint *ngIf="shopEndTimeControl.touched" class="text-info">
          e.g. 10:00 AM/PM
        </mat-hint>
        <mat-hint *ngIf="shopEndTimeControl.touched && shopEndTimeControl.errors?.required" class="text-danger" i18n>
          End Time is required
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="col-md-12 col-sm-12">
      <mat-form-field>
        <textarea [formControl]="shopAddressControl" i18n-placeholder placeholder="Enter Address" matInput
                  required></textarea>
        <mat-hint *ngIf="shopAddressControl.touched && shopAddressControl.errors?.required" class="text-danger" i18n>
          Address is required
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span></button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || !shopFormGroup.valid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;
            {{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
