<div class="container-fluid">

  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card-header card-header-primary">
            <h3><i class="page-caption material-icons" aria-hidden="true">attach_money</i> <span i18n>Transaction</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box #searchBox [searchValue]="search" (searchChange)="onSearchChanged($event)"  i18n-placeholder placeholder="Search For Transaction(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <mat-form-field *ngIf="keyValue" class="form-group">
                  <mat-select placeholder="Transaction Type" (selectionChange)="changeType($event)">
                    <mat-option [value]="-1" checked i18n>
                      All
                    </mat-option>
                    <mat-option *ngFor="let loadType of keyValue" [value]="loadType.value">
                      {{loadType.key | loadType}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Code</th>
                <td mat-cell *matCellDef="let element"> {{element.transactionId}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="senderName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Sender</th>
                <td mat-cell *matCellDef="let element"> {{element.senderName}}</td>
              </ng-container>
              <!-- CNIC Column -->
              <ng-container matColumnDef="receiverName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Receiver</th>
                <td mat-cell *matCellDef="let element"> {{element.receiverName}}</td>
              </ng-container>
              <ng-container matColumnDef="loadType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.loadType | loadType}}</td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.date}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let element">
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
