<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">assignment_returned</i> <span i18n>Withdraw Request</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)"  i18n-placeholder placeholder="Search For Withdraw Request(s)"></app-search-box>
                </div>
              </div>

            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Requester</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Amount</th>
                <td mat-cell *matCellDef="let element"> {{element.amount | currency: "MVR "}}</td>
              </ng-container>

              <ng-container matColumnDef="bank">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Bank</th>
                <td mat-cell *matCellDef="let element">{{ element.bank }}</td>
              </ng-container>
              <ng-container matColumnDef="accountNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Account No/Mobile</th>
                <td mat-cell *matCellDef="let element">{{ element.accountNo }}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Status</th>
                <td mat-cell *matCellDef="let element" [innerHtml]="element.status | requestType"></td>
              </ng-container>

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.status == getStatus()">
                    <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Accept Request" href="javascript:;" (click)="acceptWithdrawRequest(element)"><i class="fa fa-check" aria-hidden="true"></i></a>
                  </span>
                  &nbsp;
                  <span *ngIf="element.status == getStatus()">
                    <a [matTooltipPosition]="'above'"  i18n-mattooltip matTooltip="Reject Request" href="javascript:;" (click)="rejectWithdrawRequest(element)"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </span>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
