<div class="no-margins row login-background">
  <div class="col-sm col-md-6 col-lg-4 offset-lg-4 offset-md-3 horizontal-center  align-self-center">
    <div class="row">
      <div class="col-sm flex-center">
        <img style="max-height: 128px;" src="/assets/img/velaapay_logo.png" alt="logo">
      </div>
    </div>
    <div class="card card-border">
      <div class="card-header text-center">
        <span class="login-header text-primary" i18n>Sign In</span>
      </div>
      <div class="card-body">
        <form class="form-horizontal"
              novalidate
              [formGroup]="loginFormGroup"
              (submit)="formSubmit()"
        >
          <div>

            <mat-form-field class="full-width-form">
              <input type="text"
                     i18n-placeholder
                     matInput
                     placeholder="Email or Mobile No"
                     [formControl]="userNameControl"
                     required>
            </mat-form-field>
            <mat-form-field class="full-width-form">
              <input type="password"
                     i18n-placeholder
                     matInput
                     placeholder="Enter Password"
                     [formControl]="passwordControl"
                     required>
            </mat-form-field>
            <mat-form-field class="full-width-form">
              <mat-select placeholder="Select Role" required [formControl]="roleControl">
                <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <div class="col-sm text-center">
            <button type="submit" [disabled]="loginFormGroup.invalid || alertService.isLoadingInProgress" class="btn btn-primary btn-block btn-md btn-round">
              <span i18n>Login</span>
            </button>
            <!--<button mat-raised-button type="button" class="btn btn-default" (click)="goToRegisterPage()">Register-->
            <!--</button>-->
          </div>
          <br>
          <div class="col-sm text-center">
            <a (click)="goToRegisterPage()" class="text-gray show-cursor">
              <u i18n>Register Merchant</u>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
