<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="fa fa-credit-card page-caption" aria-hidden="true"></i> &nbsp; <span i18n>Card Holders</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="Search For Cards(s)"></app-search-box>
                </div>
              </div>

            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="cardType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.cardType | cardType}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Customer</th>
                <td mat-cell *matCellDef="let element"> {{element.customer}}</td>
              </ng-container>

              <ng-container matColumnDef="lastDigits">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Last Digits</th>
                <td mat-cell *matCellDef="let element"> {{element.lastDigits}}</td>
              </ng-container>
              <!-- CNIC Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Card Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
              </ng-container>

              <ng-container matColumnDef="transactionCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Transaction Code</th>
                <td mat-cell *matCellDef="let element"> {{element.transactionCode}}</td>
              </ng-container>
              <!-- CNIC Column -->

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'short'}}</td>
              </ng-container>
              <ng-container matColumnDef="expiryDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Expiry Date</th>
                <td mat-cell *matCellDef="let element"> {{element.expiryDate | date: 'short'}}</td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
