<div>
  <form class="form-horizontal" [formGroup]="employeeFormGroup" novalidate
        (ngSubmit)="formSubmit()">
    <div style="max-height: 500px;overflow-y: scroll">
      <mat-form-field>
        <input type="password" [formControl]="employeePasswordControl" placeholder="Enter Password" required  i18n-placeholder
               matInput/>
        <mat-hint *ngIf="employeePasswordControl.dirty && employeePasswordControl.invalid" class="text-info" i18n>
          Password is Required and must contain a number and a small letter and a captial letter with at least 8
          characters
        </mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="password" [formControl]="employeeConfirmPasswordControl" placeholder="Enter Confirm Password"  i18n-placeholder
              required matInput/>
        <mat-hint *ngIf="employeeConfirmPasswordControl.invalid && employeeConfirmPasswordControl.dirty"
                  class="text-info" i18n>
          Password should match
        </mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <div class="">
        <div class="pull-right">
          <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
            class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span>
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || employeeFormGroup.invalid">
            <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
            &nbsp;{{isSaving ? 'Saving' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </form>
</div>
