<h4 mat-dialog-title><i class="fa fa-address-card-o"></i> Merchant Identification</h4>
<div>
  <form class="form-horizontal" [formGroup]="cnicFormGroup" novalidate>
    <div style="overflow-y: auto;overflow-x: hidden; max-height: 500px">
      <div class="form-group has-feedback">
        <label class="control-label bold-label col-md-6">Identification Number<span class="required_asterik"> *</span></label>
        <div class="col-md-12 col-sm-12"
             [ngClass]="{'has-success': cnicNameControl.valid, 'has-error' : !cnicNameControl.valid}">
          <label class="label text-black">{{ cnicNameControl?.value }}</label>
          <span *ngIf="cnicNameControl.touched" class="glyphicon form-control-feedback"
                [ngClass]="{'glyphicon-ok ': cnicNameControl.valid, 'glyphicon-remove' : !cnicNameControl.valid}"></span>
          <span class="badge badge-warning" *ngIf="!cnicNameControl.valid">
            Identification Number is Missing
          </span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="control-label bold-label col-sm-12">Identification Image<span class="required_asterik"> *</span></label>
        <div class="col-sm-12" [ngClass]="{'has-success': cnicImageControl.valid, 'has-error' : cnicImageControl.valid}">
          <div class="">
            <img class="img-thumbnail img-responsive" [src]="cnicImageControl.value" *ngIf="cnicImageControl.valid">
            <span class="badge badge-warning" *ngIf="!cnicImageControl.valid">
            Identification Image is Missing
          </span>
          </div>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="control-label bold-label col-md-6"><span i18n>Ntn Number</span><span class="required_asterik"> *</span></label>
        <div class="col-md-12 col-sm-12"
             [ngClass]="{'has-success': ntnNameControl.valid, 'has-error' : !ntnNameControl.valid}">
          <label class="label text-black">{{ ntnNameControl?.value }}</label>
          <span *ngIf="ntnNameControl.touched" class="glyphicon form-control-feedback"
                [ngClass]="{'glyphicon-ok ': ntnNameControl.valid, 'glyphicon-remove' : !ntnNameControl.valid}"></span>
          <span class="badge badge-warning" *ngIf="!ntnNameControl.valid" i18n>
            Ntn Number is Missing
          </span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="control-label bold-label col-md-6"><span i18n>Rccm Number</span><span class="required_asterik"> *</span></label>
        <div class="col-md-12 col-sm-12"
             [ngClass]="{'has-success': rccmNumberControl.valid, 'has-error' : !rccmNumberControl.valid}">
          <label class="label text-black">{{ rccmNumberControl?.value }}</label>
          <span *ngIf="rccmNumberControl.touched" class="glyphicon form-control-feedback"
                [ngClass]="{'glyphicon-ok ': rccmNumberControl.valid, 'glyphicon-remove' : !rccmNumberControl.valid}"></span>
          <span class="badge badge-warning" *ngIf="!rccmNumberControl.valid" i18n>
            Rccm Number is Missing
          </span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="control-label bold-label col-sm-12"><span i18n>Rccm Image</span><span class="required_asterik"> *</span></label>
        <div class="col-sm-12" [ngClass]="{'has-success': rccmNumberImageControl.valid, 'has-error' : rccmNumberImageControl.valid}">
          <div class="">
            <img class="img-thumbnail img-responsive" [src]="rccmNumberImageControl.value" *ngIf="rccmNumberImageControl.valid">
            <span class="badge badge-warning" *ngIf="!rccmNumberImageControl.valid" i18n>
            Rccm Image is Missing
          </span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
<div>
  <div class="col-sm-12">
    <div class="pull-right">
      <button type="button" class="btn btn-danger btn-round btn-md" (click)="cancel()" mat-dialog-close mat-raised-button><i
        class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span>
      </button>
      <span *ngIf="!merchant.isVerified">
        &nbsp;
      <button type="button" class="btn btn-primary btn-round btn-md" (click)="verifyMerchant()" mat-dialog-close mat-raised-button><i
        class='fa fa-save'></i>&nbsp; <span i18n>Verify</span>
      </button>
      </span>

    </div>
  </div>
</div>
