<div>
  <form [formGroup]="cashOutFormGroup" (submit)="formSubmit()">
    <div class="row" *ngIf="step == 1">
      <div class="col-sm-8">
        <mat-form-field>
          <input placeholder="Enter Phone Number" matInput required [formControl]="cashOutPhoneControl"/>
          <mat-hint class="text-danger" *ngIf="cashOutPhoneControl.invalid && cashOutPhoneControl.touched">
            E.g +221XXXXXXXXX
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <button [disabled]="cashOutPhoneControl.invalid" (click)="findUser()" class="btn btn-primary btn-md btn-round"
                type="button"><i class="fa fa-search"></i>&nbsp; Search
        </button>
      </div>
    </div>
    <div class="row" *ngIf="step == 2">
      <div class="col-sm-12">
        <mat-form-field>
          <input placeholder="Phone Number" matInput required [formControl]="cashOutPhoneControl" readonly/>
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Customer" matInput required [formControl]="cashOutCustomerControl" readonly/>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
          class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span></button>
        &nbsp;
        <button type="button" (click)="back()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
          class='fa fa-arrow-left'></i>&nbsp; <span i18n>Back</span></button>
        &nbsp;
        <button (click)="sendOtp()" class="btn btn-primary btn-md btn-round" type="button"><i class="fa fa-send"></i>&nbsp;
          Send Otp
        </button>
      </div>
    </div>
    <div class="row" *ngIf="step == 3">
      <div class="col-sm-12">
        <mat-form-field>
          <input placeholder="Phone Number" matInput required [formControl]="cashOutPhoneControl" readonly/>
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Customer" matInput required [formControl]="cashOutCustomerControl" readonly/>
        </mat-form-field>
        <mat-form-field>
          <input placeholder="Enter Amount" matInput required [formControl]="cashOutAmountControl" type="number" min="1"/>
          <mat-hint class="text-danger" *ngIf="cashOutAmountControl.invalid && cashOutAmountControl.touched">
            Amount is required
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="number"
                 min="1000"
                 autocomplete="off"
                 max="9999"
                 i18n-placeholder
                 maxlength="4"
                 minlength="4"
                 pattern="[0-9]*"
                 inputmode="numeric"
                 placeholder="Enter 4 digit Pin"
                 [formControl]="cashOutPinControl"
                 required>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="number"
                 min="1000"
                 autocomplete="off"
                 max="9999"
                 i18n-placeholder
                 maxlength="4"
                 minlength="4"
                 pattern="[0-9]*"
                 inputmode="numeric"
                 placeholder="Enter 4 digit Otp"
                 [formControl]="cashOutOtpControl"
                 required>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
          class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span></button>
        &nbsp;
        <button type="button" (click)="back()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i
          class='fa fa-arrow-left'></i>&nbsp; <span i18n>Back</span></button>
        &nbsp;
        <button class="btn btn-primary btn-md btn-round" type="submit" [disabled]="cashOutFormGroup.invalid"><i class="fa fa-save"></i>&nbsp;
          Save
        </button>
      </div>
    </div>

  </form>
</div>
