<div class="container-fluid">

  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">account_balance</i> <span i18n>Bank</span> </h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-7 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" placeholder="Search For Bank(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="form-group">
                  <button class="btn btn-primary btn-round btn-md" (click)="addBank()"><i class="material-icons">add</i>&nbsp; <span i18n>Create Bank</span></button>
                </div>
              </div>
            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <!-- FullName Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="swiftCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Swift Code</th>
                <td mat-cell *matCellDef="let element"> {{element.swiftCode}}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
              </ng-container>
              <!-- CNIC Column -->

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                  <a [matTooltipPosition]="'above'"  matTooltip="Edit Bank" href="javascript:;" (click)="editBank(element)"><i class="fa fa-pen" aria-hidden="true"></i></a>
                  &nbsp;
                  <a [matTooltipPosition]="'above'"  matTooltip="Delete Bank" href="javascript:;" (click)="deleteBank(element)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records">
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
