<div>
  <form novalidate [formGroup]="merchantGroup" (ngSubmit)="formSubmit()">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput type="text" [formControl]="merchantNameControl"  i18n-placeholder required placeholder="Enter Name">
              <mat-hint *ngIf="merchantNameControl.errors?.required && merchantNameControl.touched" class="text-danger" i18n>
                Name is Required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput type="text" [formControl]="merchantCnicControl" required  i18n-placeholder placeholder="Enter Identification Number">
              <mat-hint *ngIf="merchantCnicControl.invalid && merchantCnicControl.touched" class="text-danger" i18n>
                Identification
                Number is Required and should have 13 characters or 17 characters
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput type="text" [formControl]="merchantNtnControl"  maxlength="9" minlength="9"
                     i18n-placeholder required placeholder="Enter Ntn Number">
              <mat-hint *ngIf="merchantNtnControl.invalid && merchantNtnControl.touched" class="text-danger" i18n>
                NINEA  Number is Required and should have
                9 characters
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <mat-form-field>
              <input matInput type="text" [formControl]="merchantRccmControl" required  i18n-placeholder placeholder="Enter Rccm Number">
              <mat-hint *ngIf="merchantRccmControl.invalid && merchantRccmControl.touched" class="text-danger" i18n>
                Rccm Number is Required and must be unique
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label class="control-label"><span i18n>Identification Image</span><span class="required_asterik"> *</span></label>
              <div>
                <button type="button" class="btn btn-sm registration-button btn-round btn-md"
                        onclick="document.getElementById('fileToUpload2').click()">
                  <i class="fa fa-paperclip"></i>&nbsp;<span i18n>Add Image</span>
                </button>
                <input id="fileToUpload2" class="form-control" required type="file"
                       (change)="onFileAddedIdentification($event)" hidden accept="image/x-png,image/gif,image/jpeg"/>
                <div class="">
                  <img  style="height: 150px;" class="img-thumbnail img-responsive" [src]="merchantCnicImageControl.value"
                        *ngIf="merchantCnicImageControl.value">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label class="control-label"><span i18n>Rccm Image</span><span class="required_asterik"> *</span></label>
              <div>
                <button type="button" class="btn btn-sm registration-button btn-round btn-md"
                        onclick="document.getElementById('fileToUpload1').click()">
                  <i class="fa fa-paperclip"></i>&nbsp;<span i18n>Add Image</span>
                </button>
                <input id="fileToUpload1" class="form-control" required type="file"
                       (change)="onFileAddedRccm($event)" hidden accept="image/x-png,image/gif,image/jpeg"/>
                <div class="">
                  <img  style="height: 150px;" class="img-thumbnail img-responsive" [src]="merchantRccmImageControl.value"
                        *ngIf="merchantRccmImageControl.value">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <button type="button" (click)="cancel()" class="btn btn-danger btn-round btn-md" [disabled]="isSaving"><i class='fa fa-times'></i>&nbsp; <span i18n>Cancel</span></button>
            &nbsp;
            <button type="submit" class="btn btn-primary btn-round btn-md" [disabled]="isSaving || !merchantGroup.valid">
              <i *ngIf="!isSaving" class='fa fa-save'></i><i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>&nbsp; {{isSaving ? 'Saving' : 'Save'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
