<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-sm">
        <div class="card">
          <div class="card card-header-primary">
            <h3><i class="material-icons page-caption" aria-hidden="true">account_balance</i> <span i18n>Company</span></h3>

          </div>
          <div class="card-body">
            <div class="row control-box">
              <div class="col-md-6 col-sm-12">
                <div class="form-group search-box">
                  <app-search-box (searchChange)="onSearchChanged($event)" i18n-placeholder placeholder="Search For Company(s)"></app-search-box>
                </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <mat-form-field>
                  <mat-select placeholder="Select Company Type" value="0" (valueChange)="onCompanyTypeChange($event)">
                    <mat-option [value]="'0'" i18n>
                      All
                    </mat-option>
                    <mat-option *ngFor="let type of companyTypes" [value]="type.value">
                      {{ type.text }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <button class="btn btn-primary btn-md btn-round" (click)="addCompany()"><i class="material-icons">add</i> <span i18n>Create Company</span></button>
                </div>
              </div>
            </div>
            <table mat-table style="width: 100%;"  [dataSource]="rows" matSort class="mat-elevation-z8" (matSortChange)="onSort($event)">

              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef i18n>Image</th>
                <td mat-cell *matCellDef="let element">
                  <img [src]="element.imageUrl" class="img-thumbnail" style="height: 45px;">
                </td>
              </ng-container>

              <!-- FullName Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type | companyType}}</td>
              </ng-container>

              <!-- CNIC Column -->
              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Phone Number</th>
                <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
              </ng-container>
              <!-- CNIC Column -->

              <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.createdDate}}</td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef i18n> Action</th>
                <td mat-cell *matCellDef="let element">
                  <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="Edit Company" href="javascript:;" (click)="editCompany(element)"><i class="fa fa-pen" aria-hidden="true"></i></a>
                  &nbsp;
                  <a [matTooltipPosition]="'above'" i18n-mattooltip  matTooltip="Delete Company" href="javascript:;" (click)="deleteCompany(element)"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="rows?.length == 0" class="no-records" i18n>
              No records found
            </div>
            <mat-paginator [length]="totalPage" [pageSize]="10" [color]="'primary'"  [pageIndex]="page" [showFirstLastButtons]="true" (page)="changePage($event)"></mat-paginator>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
